{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <img src="{% static 'image\student.png' %}" alt="synnefo logo">

    </head>
    <body>
        <header>
            <h1>synnefo</h1>
        <nav>
            <a href="/">Home</a> <!-- http://127.0.0.1:8000/ -->
            <a href="{% url 'about' %}">About</a> <!-- http://127.0.0.1:8000/about -->
            <a href="/students">Students</a> <!-- http://127.0.0.1:8000/students -->
        </nav>
        </header>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            owned by developer
            </footer>
       </body>

